<div class="filterResultsContainer">
    <div class="searchContainer">
        <input type="text"
        id="searchResults"
        placeholder="Search by Title">
        <button id="searchButton">
            <img src="./../../assets/icon-search.svg">
        </button>
    </div>
    
    <div class="genreContainer">
        <h3 class="criteriaHeading">
            <img src="./../../assets/icon-genre.svg" class="headerImage">
            Genre
        </h3>

            <ol>
                <li
                *ngFor = "let array of newArrayGenres; index as i">
                {{ array.genres[i].name }}
                </li>
            </ol>

    </div>
    
    <div class="releaseDateContainer">
        <h3 class="criteriaHeading">
            <img src="./../../assets/icon-genre.svg" class="headerImage">
            Release Date
        </h3>
        <div class="yearToYearContainer">
            <select name="" id=""></select>
            <p>to</p>
            <select name="" id=""></select>
        </div>
    </div>
    
    <div class="runTimeContainer">
        <h3 class="criteriaHeading">
            <img src="./../../assets/icon-duration.svg" class="headerImage">
            Run Time
        </h3>
        <ul>
            <li> <input type="checkbox" id="shortLength" name="shortLength"> Short (< 1 hour)</li>
            <li> <input type="checkbox" id="averageLength" name="averageLength"> Average ( 1-2 hours)</li>
            <li> <input type="checkbox" id="longLength" name="longLength"> Long (> 2 hours)</li>
        </ul>
    </div>

    <button id="clearButton">Clear</button>

</div>

