<div class="filterResultsContainer">
    <div class="searchContainer">
        <input type="text"
        placeholder="Search query">
        <button id="search">
            ICON
        </button>
    </div>
    
    <div class="genreContainer">
        <h3 class="criteriaHeading">Genre</h3>
        <ul>
            <li> Genre </li>
        </ul>
    </div>
    
    <div class="releaseDateContainer">
        <h3 class="criteriaHeading">Release Date</h3>
        <div class="yearToYearContainer">
            <select name="" id=""></select>
            <p>to</p>
            <select name="" id=""></select>
        </div>
    </div>
    
    <div class="runTimeContainer">
        <h3 class="criteriaHeading">Run Time</h3>
        <ul>
            <li> <input type="checkbox" id="shortLength" name="shortLength"> Short (< 1 hour)</li>
            <li> <input type="checkbox" id="averageLength" name="averageLength"> Average ( 1-2 hours)</li>
            <li> <input type="checkbox" id="longLength" name="longLength"> Long (> 2 hours)</li>
        </ul>
    </div>

    <ol class="practice">
    <li
    *ngFor = "let array of newArray; index as i">{{array.results[i].overview}}</li>
    </ol>

    <!-- <button (click)="nextPage()">Next Page</button> -->
</div>

